<div class="console-container ng-scope">

    <div bindonce="" class="ng-scope">
    
        <div class="clear10"></div>
        <div class="ng-isolate-scope mt50">
            <div class="ng-scope">
                <div class="searchSection">
                </div>
                <div class="gridSection">
                  
                  收件人：{{$message.receiver}}<br><br>
                  消息内容：<br>
    <pre>
    {{$message.content}}
    </pre>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
