<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <volist name="articleData" id="vo">
                    <article class="post">
                        <div class="post-head">
                            <h1 class="post-title"><a href="{{:U('home/article/details/id/'.$vo['id'])}}" style="text-decoration: underline;">{{$vo.title}}</a></h1>
                            <div class="post-meta">
                                <span class="author">作者：<a href="{{:U('home/about/author')}}" target="_blank">{{$vo.author}}</a></span> • 
                                <time class="post-date" datetime="2017年02月20日" title="2017年02月20日">{{$vo.add_time|date="Y-m-d",###}}</time>
                            </div>
                        </div>
                        <neq name="vo.thumbnail" value="">
                            <div class="featured-media">
                                <a href="{{:U('home/article/details/id/'.$vo['id'])}}"><img src="{{$vo.thumbnail}}" style="max-height:260px;" alt="{{$vo.title}}"/></a>
                            </div>
                        </neq>
                        <div class="post-content">
                            <p>{{$vo.description}}</p>
                        </div>
                        <div class="post-permalink">
                            <a href="{{:U('home/article/details/id/'.$vo['id'])}}" class="btn btn-default">阅读全文</a>
                        </div>
                        <footer class="post-footer clearfix"></footer>
                    </article>
                </volist>
            </main>
            <aside class="col-md-4 sidebar">
                {{:W('RightSiderArticle/newArticle')}}
            </aside>
        </div>
    </div>
</section>