<div class="m-col-r f_right width950">
    <div class="sec-box">
        <p class="dt dt1">Security Center</p>
        <div class="sec-home-dl">
            <!-- 修改密码-->
            <div class="sec_pwd_progress bar1">
                <span class="status1 status">Reset Password</span>
                <span class="status2 status">Complete</span>
            </div>
            <!-- form-->
            <form class="form" id="formData" action="{{:U('Home/AccountSet/passwordModify')}}" method="post" data-validator-option="{stopOnError:false, timely:true}">
                <div class="inputBox clearfix margin_top10">
                    <label for="">Old Password:</label>
                    <div class="form-dl">
                        <input type="password" class="input" id="oldPwd" name="oldPwd"  data-rule="required;password;">
                    </div>
                    <!-- 错误提示-->
                    <span class="msg-box" for="oldPwd"></span>
                </div>
                <div class="inputBox clearfix margin_top10">
                    <label for="">New Password:</label>
                    <div class="form-dl">
                         <input type="password" class="input" id="newPwd" name="newPwd"  data-rule="required;password;">
                     </div>
                     <span class="msg-box" for="newPwd"></span>
                </div>
                <div class="inputBox clearfix margin_top10">
                    <label for="">Confirm Password:</label>
                    <div class="form-dl">
                        <input type="password" class="input" id="rePwd" data-rule=" required;match(newPwd);">
                    </div>
                    <span class="msg-box" for="rePwd"></span>
                </div>
                <div class="inputBox clearfix margin_top30">
                    <label for=""> &nbsp;</label>
                    <div class="form-dl">
                        <button class="submit red_btn red_btn17">Preservation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#formData").validator({
        messages:{
            required : "Not null",
        }
    })    
</script>
