<p style="font-size: 20px;font-weight: 700;">
    尊敬的Sinob2b客户：
</p>
<p style="font-size: 12px;">
    您好！您的sinob2b平台登录邮箱已修改为：{{:I('post.email')}}，请点此链接<a href="http://{{$url}}">激活</a>帐号，或复制粘贴以下链接至浏览器地址栏中访问
</p>
<p style="font-size: 20px;font-weight: 700;">
   Dear {{$userInfo.first_name|default='customer'}}
</p>
<p style="font-size: 12px;">
    Your request to change your log in email had already been completed and amended to {{:I('post.email')}},
</p>
<p style="font-size: 12px;">
    Please click the link to activate the account, or copy and paste the link below into your browser to access the
</p>
<p style="font-size: 12px;">
    activation.
</p>
<p style="font-size: 12px;">
    <a href="http://{{$url}}">http://{{$url}}</a>
</p>

<p style="margin-top: 15px;font-size: 12px;">
   Sincerely<br>
   Sinob2b.com
</p>
