<div class="m-col-r f_right width950">
    <div class="sec-box">
        <p class="dt dt1">Security Center</p>
        <div class="sec-home-dl">
            <div class="levelBar clearfix">
                <span class="f_left f16">Security level:</span>
                <p class="bar f_left margin_left25">
                    <i style="width: 90%;"></i>
                </p>
                <span class="f_left f14 green_22ac38 margin_left10">Hign</span>
            </div>
            <p class="clearfix margin_top20">
                <i class="icon pwd f_left"></i>
                <span class="f16 col333 f_left margin_left10" style="width: 120px">Login Password</span>
                <a href="{{:U('AccountSet/passwordModify')}}" class="f_left blue_link f14  margin_left45">modify</a>
            </p>
            <p class="clearfix margin_top20">
                <i class="icon email f_left"></i>
                <span class="f16 col333 f_left margin_left10" style="width: 120px">Modify Mailbox</span>
                <a href="{{:U('AccountSet/emailModify')}}" class="f_left blue_link margin_left45">modify</a>
            </p>
         </div>
        <!-- 底下文字说明-->
        <div class="b-des">
            <p class="f14"> <strong class="gray717070">Security Service Prompt:</strong></p>
            <div class="clearfix f14 gray717070 margin_top5">
                <span class="f_left">1.</span>
                <p class="f_left" style="width: 920px;line-height: 24px">Confirm your login is CIGNA. <a href="javascript:">Http://www.sinob2b.com/</a>, attention prevention into the phishing site, do not rely on all kinds of instant communication
                    tools send goods or pay for the links, beware of online shopping fraud.
                </p>
            </div>
            <div class="clearfix f14 gray717070 margin_top5">
                <span class="f_left">2.</span>
                <p class="f_left" style="width: 920px;line-height: 24px">recommends that you install antivirus software, and regularly update the operating system and other software patches, to ensure that the account
                    and transaction security.
                </p>
            </div>
        </div>
    </div>
</div>
