</div>
</td>
</tr>
<tr>
<td colspan="5">
<div style='font-family: "aria","微软雅黑 ","Microsoft Yahei";font-size: 12px;'>
 <p style="text-align: center;">
     Add Us to Your Contacts:
     <a href="" style="color: #337ab7;font-size: 12px;">newsletter@sinob2b.com </a>
     <a href="" style="color: #337ab7;font-size: 12px; margin-left: 10px;">Contact Us </a>
     <a href="" style="color: #337ab7;font-size: 12px; margin-left: 10px;">Unsubscribe</a>
 </p>
 <p style="text-align: center;font-size: 12px;margin-top: 8px;">
     This is an automatic email sent by system. Please do not reply as any emails sent to this email address will not get a reply.
 </p>
 <p style="font-size: 12px;text-align: center;padding-bottom: 10px;">
     Copyright of 2015 macro e-commerce copyright Guangdong ICP No. 15005741
 </p>
</div>

</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody>
</table>
</body>
</html>
