<div class="pageBtn" id="pageBtn">
    <if condition="!empty($pages['url'])">
        <if condition="empty($pages['prev'])">
            <a href="javascript:void(0);" class="prev">&lt;</a>
        <else/>
            <a xhref="{{$pages['prev']}}" class="prev">&lt;</a>
        </if>

        <foreach name="pages['url']" item="vo" key="k">
            <if condition="empty($vo)">
                <a href="javascript:void(0);" class="cur">{{$k}}</a>
            <else/>
                <a href="javascript:void(0);" xhref="{{$vo}}">{{$k}}</a>
            </if>
        </foreach>

        <if condition="empty($pages['next'])">
            <a href="javascript:void(0)" class="next">&gt;</a>
        <else/>
            <a href="javascript:void(0);" xhref="{{$pages['next']}}" class="next">&gt;</a>
        </if>

        <input type="text" class="textPager" role="input-gotoPage" placeholder="Go to Page">
        <a role="btn-gotoPage" class="submit" href="javascript:">Go</a>
    </if>
</div>