<div class="lgBottomContainer">
    <if condition="!empty($useNtkf)"><include file="Common/ntkf"/></if>
    <div class="min_width">
        <div class="top clearfix">
            <p class="f_left link_l">
                <strong>Follow Us</strong>
                <a class="icon fb" href="javascript:"></a>
                <a class="icon tw" href="javascript:"></a>
                <a class="icon ge" href="javascript:"></a>
                <a class="icon ytb" href="javascript:"></a>
            </p>
            <div class="f_left link_r clearfix">
                <li class="f_left"><a href="{{:U('Article/index',array('id'=>49))}}">CONTACT US</a></li>
                <li class="f_left"><a href="{{:U('Category/all')}}">SITE MAP</a></li>
                <li class="f_left"><a href="{{:U('Article/index',array('id'=>52))}}">OPEN  ICBC NRA ACCOUNT</a></li>
                <li class="f_left"><a href="{{:U('Article/index',array('id'=>58))}}">SERVICE CENTER</a></li>
            </div>
        </div>
        <p class="bottom">
            Copyright of 2015 macro e-commerce copyright Guangdong ICP No. 15005741
        </p>
    </div>
</div>
