<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Login - sinob2b</title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.1.8.3.min.js"></script>
    <link href="__PUBLIC__/css/sample.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/js/nice-validator/jquery.validator.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/nice-validator/local/en.js"></script>
    <link href="__PUBLIC__/js/nice-validator/jquery.validator.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/js/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/util.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/sinob2b.js"></script>
</head>
